#main{
  background-color:#7c4700;
  width:60%;
  margin-left:auto;
  margin-right:auto;
}
.bg1{
  background-color:#997950;
  text-align:center;
  font-family:Arial
}
nav.linkbar{
  background-color:#765d39;
  color: white;
  
}
#fonthead{
  color:#d8d7cc;
}
#h2{
  text-align:center;
  font-family:Arial
}
.linkbar{
  background-color:white;
  text-align:center; 
  text-color:write
}
#bar{
  text-align:center;
  font-size:medium;
  color:write;
  
}
blockquote{
  text-align:center;
  font-family:Arial;
  
}
a{
  color: white;
  text-decoration: none;
  font-family:Arial;
  
}
footer{
  background-color:#997950;
  text-align:center;
  font-size:medium;